.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.nav {
	height: 50px;
}
.link {
	color: white;
	text-transform: uppercase;
}

.list {
	background-color: rgb(75, 81, 88);
	border-bottom: 2px solid blue;
}

.item {
	float: left;
	margin-right: 30px;
	position: relative;
}

.link:hover {
	border: 1px solid black;
	background-color: blue;
}

.sub-link {
	background-color: rgb(75, 81, 88);
	color: white;
	text-transform: uppercase;
}

.sub-list {
	padding-bottom: 10px;
	position: absolute;
	top: 100%;
	left: 0px;
	display: none;
}

.item:hover .sub-list {
	display: block;
}

.sub-link:hover {
	border: 1px solid black;
	background-color: blue;
}

.child-sub-list {
	background-color: rgb(75, 81, 88);
	color: white;
	text-transform: uppercase;
}

.child-sub-link {
	color: white;
}
.child-sub-link:hover {
	border: 1px solid black;
	background-color: blue;
}

.child-sub-item {
	width: max-content;
}

.sub-item {
	position: relative;
}

.child-sub-list {
	position: absolute;
	top: 0px;
	left: 75px;
	display: none;
}

.sub-item:hover .child-sub-list {
	display: block;
}
