.list {
	background-color: rgb(75, 81, 88);
	border-bottom: 2px solid blue;
}

.item {
	float: left;
	margin-right: 30px;
	position: relative;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.link {
	color: white;
	text-transform: uppercase;
}

.link:hover {
	border: 1px solid black;
	background-color: blue;
}

.sub-link {
	background-color: rgb(75, 81, 88);
	color: white;
	text-transform: uppercase;
}

.sub-link:hover {
	border: 1px solid black;
	background-color: blue;
}

.sub-list {
	position: absolute;
	top: 100%;
	left: 0px;
}

.child-sub-link {
	background-color: rgb(75, 81, 88);
	color: white;
	text-transform: uppercase;
}

.child-sub-link:hover {
	border: 1px solid black;
	background-color: blue;
}

.sub-item {
	position: relative;
}

.child-sub-list {
	position: absolute;
	top: 0px;
	left: 75px;
}

.child-sub-item {
	width: 500px;
}
